<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="printSchedulerJob" class="com.read.test.spring.impl.PrintSchedulerJobImpl"/>

    <bean id="printSchedulerJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="printSchedulerJob"/>
        <property name="targetMethod" value="execute"/>
        <property name="concurrent" value="true"/>
    </bean>

    <bean id="printSchedulerJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="printSchedulerJobDetail"/>
        <property name="cronExpression" value="* * * * * ?"/>
    </bean>

    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="printSchedulerJobTrigger"/>
            </list>
        </property>
        <property name="autoStartup" value="false"/>
        <property name="quartzProperties">
            <props>
                <prop key="org.quartz.threadPool.threadCount">1</prop>
            </props>
        </property>
    </bean>

</beans>